# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.*

~*

*.xlsx

*.out*

**/build

.vscode/

**/test_data

**/simde

*.nde

**/bin

main_deletion.cpp

old_main_enhanced.cpp

alg3.cpp

main.cpp

main_enhanced.cpp
